body, :root {
	font-size: 18px;
	font-family: 'Alegreya Sans', sans-serif;
}
#introjumbo {
	color: #fff;
	background-color: #222;
}

@media (min-width: 992px) {
	#introjumbo {
		background-image: url("images/DSC_1389-min.jpg");
		background-size: cover;
		background-position: bottom;
		background-attachment: fixed;
	}
}

#introjumbo {
	min-height: 100vh;
	margin-bottom: 0;
}

#introjumbo hr {
	border-color: #0381c4;
	width: 45%;
	float: left;
}

#introjumbo h1 {
	padding-top: 6%;
	font-family: 'Oswald', sans-serif;
}

#introjumbo h2 {
	clear: left;
	font-weight: 200;
	color: #FFF800;
}

#introjumbo p {

}

span.brand-blue {
	color: #0381c4;
}

@media (min-width: 992px) {
	 .nav-highlight, .nav-highlight a {
		background-color: rgb(3, 129, 196);
		color: #fff !important;
	}
}

.dark-sections {
	color: #fff;
	background-color: #111;
	background-image: url("images/footer_lodyas.png");
}

.content-container {
	padding-bottom: 2em;
}

.navbar.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.navbar.affix-top {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin:0;
    border: transparent;
    border-top: #555 solid 1px;
    border-bottom: #555 solid 1px;
    background-color: transparent;
}
.navbar.affix-top *{
    color: #fff !important;
    border: none;
}
.navbar.affix-top .nav-highlight, .navbar.affix-top .nav-highlight a {
    background-color: rgba(3, 129, 196, 0.3) !important;
}
.navbar.affix-top .nav-highlight:hover, .navbar.affix-top .nav-highlight:hover a {
    background-color: rgba(3, 129, 196, 0.5) !important;
}
.navbar.affix-top .navbar-nav li:hover {
	background-color: rgba(255, 255, 255, 0.3);
}
.navbar {
	border-radius: 0;
}

.dark-sections .content-container a:not(.btn) {
	color:#fff;
}

.row h2 {
	margin-top: 50px;
	margin-bottom: 30px;
}

.speaker img {
	max-height: 168px;
}

@media (max-width: 992px) {
	.navbar {
		background-image: url("images/footer_lodyas.png");
		background-size: cover;
		background-position: bottom;
		background-attachment: fixed;
	}
}